body {
    font-family: Arial, sans-serif;
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
  }
  
  form {
    display: grid;
    grid-gap: 10px;
  }
  
  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
  }
  
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid #d88adf;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button {
    background-color: #25ece2;
    color: rgb(6, 9, 9);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #e525ef;
  }
  
  a {
    color: #d329ed;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }